.base_title {
    text-align: left;
    padding-top: 0px;
    margin-top: 0;
    position: static;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 12px;
    color: var(--bs-black);
}
.table_of_contents {
    text-align: center;
    color: var(--bs-black);
    border-bottom-style: solid;
}
