{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navbar-Right-Links-icons.css' %}">
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link media="print" rel="stylesheet" href="/css/print.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3" style="width: 70%;padding: 0;margin-left: 15%;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#">
            <a href="{% url 'main_page' %}" style="text-decoration:none; color: black;">
                <img width="10%" src="{% static 'rubiks_cube.png' %}">
                <span>@IlyaShirko</span><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            </a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'biography' %}">Биография</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'portfolio' %}">Портфолио</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'resume' %}">Резюме</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </nav>

{% block content %}
{% endblock %}


    <footer style="margin: 5mm; text-align: center">
    <p>© Ширко Илья Владимирович 2022 г.</p>
  </footer>
</body>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</html>