{% extends 'base.html' %}
{% load static %}


{% block title %}Резюме{%endblock%}

{% block content %}
<div class="container">
    <div class="row"> 
        <div class="col-lg-8 col-xxl-8 h-auto">
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col-lg-3 h-auto" style="padding-right: 0;padding-left: 0;width: 30%;">
                    <p class="base_title" style="font-size: 1.5vmax;">Полное имя</p>
                </div>
                <div class="col-lg-5 h-auto" style="padding-right: 0;padding-left: 0;width: auto;">
                    <p style="margin-bottom: 0;font-size: 1.5vmax;">{{ candidate.last_name }} {{ candidate.first_name }} {{ candidate.patronymic }}</p>
                </div>
            </div>
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col-lg-3 h-auto" style="padding-right: 0;padding-left: 0;width: 30%;">
                    <p class="base_title" style="font-size: 1.5vmax;">Cпециализация</p>
                </div>
                <div class="col-lg-5 h-auto" style="padding-right: 0;padding-left: 0;width: auto;">
                    <p style="margin-bottom: 0;font-size: 1.5vmax;;">{{ candidate.desired_position }}</p>
                </div>
            </div>
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col-lg-3 h-auto" style="padding-right: 0;padding-left: 0;width: 30%;">
                    <p class="base_title" style="font-size: 1.5vmax;">Номер телефона</p>
                </div>
                <div class="col-lg-5 h-auto" style="padding-right: 0;padding-left: 0;width: auto;">
                    <p style="margin-bottom: 0;font-size: 1.5vmax;">{{ candidate.phonenumber }}</p>
                </div>
            </div>
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col-lg-3 h-auto" style="padding-right: 0;padding-left: 0;width: 30%;">
                    <p class="base_title" style="font-size: 1.5vmax;">E-mail</p>
                </div>
                <div class="col-lg-5 h-auto" style="padding-right: 0;padding-left: 0;width: auto;">
                    <p style="margin-bottom: 0;font-size: 1.5vmax;">{{ candidate.email }}</p>
                </div>
            </div>
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col-lg-3 h-auto" style="padding-right: 0;padding-left: 0;width: 30%;">
                    <p class="base_title" style="font-size: 1.5vmax;">GitHub</p>
                </div>
                <div class="col-lg-5 h-auto" style="padding-right: 0;padding-left: 0;width: auto;">
                    <p style="margin-bottom: 0;font-size: 1.5vmax;">{{ candidate.github }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xxl-3 h-auto" style="position: relative;">
            <div class="row float-right">
                <img src="{{ candidate.photo }}" style="position: absolute;max-height: 100%;max-width: 100%;width: auto;height: auto; right: 0;">
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 0%;margin-left: 0;margin-top: 10px;">
        <div class="col-lg-6 h-auto">
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col">
                    <h4 class="table_of_contents underline"><strong>КОРОТКО О СЕБЕ</strong></h4>
                    {% for chapter in about_candidate %}
                    <p style="color: var(--bs-link-hover-color);font-weight: bold;font-size: 12px;text-align: justify; text-indent: 6mm;margin-top: 3px; margin-bottom: 3px;">{{ chapter }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col">
                    <h4 class="table_of_contents underline"><strong>ОБРАЗОВАНИЕ</strong></h4>
                    {% for univercity in higher_education %}
                        <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                            <div class="col">
                            
                                <h5 style="font-weight: bold;">{{ univercity.title }}</h5>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col">
                                                <p style="margin-bottom: 0;font-size: 12px;font-weight: bold;">{{ univercity.specialization }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p style="margin: 0;font-size: 12px;font-weight: bold;">{{ univercity.department }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p style="margin: 0;margin-top: 6px;margin-bottom: 6px;text-align: right;font-weight: bold;">{{ univercity.education_period }}</p>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col">
                    <h4 class="table_of_contents underline"><strong>ОПЫТ РАБОТЫ</strong></h4>
                    {% for place in places_of_work %}
                        <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                            <div class="col">
                                <h5 style="font-weight: bold;">{{ place.post }}</h5>
                                <div class="row">
                                    <div class="col-lg-12 col-xxl-12">
                                        <div class="row">
                                            <div class="col">
                                                <p style="margin-bottom: 0;font-size: 12px;font-weight: bold;">{{ place.duration }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p style="margin: 0;font-size: 12px;font-weight: bold;">{{ place.company }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {% for paragraph in place.responsibilities %}
                                                    <p style="font-size: 12px;color: var(--bs-link-hover-color);font-weight: bold;text-indent: 6mm;text-align: justify; margin-top: 3px; margin-bottom: 3px;">{{ paragraph }}<br></p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 h-auto">
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col">
                    <h4 class="table_of_contents underline"><strong>HARD SKILLS</strong></h4>
                    {% for row in hard_skills %}
                        <div class="row h-auto">
                            {% for skill in row %}
                                <div class="col">
                                    <p style="text-align: center;font-weight: bold;color: var(--bs-link-hover-color);margin-top: 6px;margin-bottom: 6px;">{{skill}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col">
                    <h4 class="table_of_contents underline"><strong>SOFT SKILLS</strong></h4>   
                    {% for skill in soft_skills %}
                        <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                            <div class="col">
                                {% for title, description in skill.items %}
                                    <h5 style="font-weight: bold;margin-bottom: 0;">{{ title }}</h5>
                                    <p style="font-size: 12px;color: var(--bs-link-hover-color);font-weight: bold;margin: 0;">{{ description }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if achievements %}
                <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                    <div class="col">
                        <h4 class="table_of_contents underline"><strong>ДОСТИЖЕНИЯ</strong></h4>
                        {% for achievement in achievements %}
                            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                                <div class="col">
                                    <h5 style="font-weight: bold; margin-bottom: 0px;">{{achievement.title}}</h5>
                                    <p style="font-size: 12px;">{{achievement.reached_at}}, {{achievement.company}}.</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col">
                    <h4 class="table_of_contents underline"><strong>РЕКОММЕНДАЦИИ</strong></h4>
                    {% for recommendation in recommendations %}
                        <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                            <div class="col">
                                <h5 style="font-weight: bold; margin-bottom: 0px;">{{recommendation.recommender}}</h5>
                                <p style="font-size: 12px;">{{recommendation.company}}. {{recommendation.post}} </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                <div class="col">
                    <h4 class="table_of_contents underline"><strong>ОЖИДАНИЯ</strong></h4>
                    <div class="row h-auto" style="margin-right: 0;margin-left: 0;margin-top: 6px;margin-bottom: 6px;">
                        {% for expectation in expectations %}
                            <p style="font-size: 12px;color: var(--bs-link-hover-color);font-weight: bold;margin-top: 6px;margin-bottom: 6px;">{{ expectation }}</p>
                        {% endfor %}
                        <h6 style="font-weight: bold;text-decoration:  underline; ">будет преимуществом:</h6>
                        {% for advantage in advantages %}
                            <p style="font-size: 12px;color: var(--bs-link-hover-color);font-weight: bold;margin-top: 6px;margin-bottom: 6px;">{{ advantage }}</p>
                        {% endfor %}
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}